html,
body {
  margin: 2px;
  padding: 2px;
  font-family: Copperplate, Fantasy, monospace, 'Oswald', sans-serif;
  font-size: 20px;
  color: #ebebeb;
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(32, 30, 28, 1) 100%);
}

.FlexWrapper {
  height: 98vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.FlexItem {
  align-items: center;
  padding: 1rem;
  text-decoration: none;
}

.FlexHeader {
  max-height: 0%;
  text-decoration: none;
}

.flex-parent-element {
  max-height: 10%;
  display: flex;
  width: 100%;
  text-decoration: none;
}

#back-button {
  border-width: 2rem;
  border-radius: 15rem;
  background-color: orange;
  color: purple;
  text-align: center;
  width: 80px;
  padding-bottom: 40px;
  text-decoration: none;
}

#back-button:hover {
  transition: 0.25s;
  text-decoration: underline;
  background-color: rgb(255, 194, 80);
  text-shadow: 0 0 10px #ffffff;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 0px 100px 0px rgb(255, 194, 80);
  text-decoration: underline;
}

#bild-titel {
  padding-bottom: 40px;
  border: 2px;
  border-color: black;
  border-radius: 25rem;
  background-color: white;
  color: black;
  border-style: solid;
  min-width: 25%;
  max-width: 35%;
  text-align: center;
  text-size-adjust: auto;
  display: block;
  margin-left: 30%;
  margin-right: auto;
}

div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
  max-width: 90%;
  max-height: 90%;
}

#planets-header-image img {
  background: greenyellow;
  box-shadow: 0 0 100px greenyellow;
}

.slideshow-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Copperplate, Fantasy, monospace, 'Oswald', sans-serif;
}

button {
  font-family: Copperplate, Fantasy, monospace;
  font-size: 25px;
  text-decoration: none;
  border: 10rem;
  border-color: black;
  border-radius: 4rem;
  background-color: orange;
  padding: 20px;
  margin: 20px;
}

button:hover {
  transition: 0.25s;
  text-decoration: underline;
  background-color: rgb(255, 194, 80);
  transform: scale(1.2);
  box-shadow: 0px 0px 100px 0px rgb(255, 194, 80);
  cursor: pointer;
}

#slideshow {
  background: rgb(56, 1, 8);
  box-shadow: 0 0 100px rgb(185, 0, 139);
  visibility: hidden;
}

.slideshow-modal-class {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.75); /* Black w/ opacity */

} 

.slideshow-modal-content {
  width: 80%; /* Could be more or less, depending on screen size */
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  block-size: fit-content;
  

}

.footer {
  min-height: 100%;
  padding: 10px;
}

#slideshow-instructions {
  text-align: center;
}

.jsGeneratedAlbumImages {
  padding: 0px;
}