/*
.float-container-header {
    border: 3px solid #fff;
    padding: 2px;
    break-after: always;
}

.float-child {
    margin: 10px;
    text-align: center;
    width: 25%;
    float: left;
    padding: 2px;
    border: 2px solid red;
}  


#back-button {
    padding: 2px 2px;
    /* display: inline-block; */
    color: #008000;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2em;
    /* overflow: hidden;
}

/*creating animation effect 
#back-button:hover {
    color: #111;
    background: #39ff14;
    box-shadow: 0 0 5px #39ff14;
}

#image-title{
    text-align: center;
    font-size: 3rem;
    border-width: 4px;
    border-color: black;
}

.float-container-below {
    border: 3px solid #fff;
    padding: 2px;
}

.float-child-below {
    margin: 10px;
    text-align: center;
    width: 45%;
    float: left;
    padding: 2px;
    border: 2px solid red;
}  

#center{
    
}

.rating-footer{
    width: 100%;
}

*/


.grid-container{
    grid-template-areas: 
    'a b c d'
    'e f g h';
}

.grid-container > #back-button{
    grid-area: h;
}

#back-button{
    grid-area: h;
}